#root {
  /* height: 100%; */
  font-size: 1.2rem;
  line-height: 1.35;
}

.App {
  display: flex;
  flex-direction: column;
  position: absolute;
  inset: 0;
  color: var(--col-fg);
}

.Main {
  background: var(--col-bg);
  display: flex;
  overflow: hidden;
  flex: 1;
}

/* Classes that aren't worth splitting yet */

.Header {
  padding: 0.4rem;
  background: var(--col-accent-500);
}

.Footer {
  background: var(--col-accent-300);
}
