body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* DEFAULT OVERRIDES */
/* TODO: replace w CSS reset/normalizer */
p {
  margin: 0;
}

button {
  font-size: 1em;
  border: none;
}

ul {
  padding: 0;
  margin: 0;
}
li {
  list-style: none;
}

/* General purpose classes that don't have a home yet */
.content-bar {
  display: flex;
  justify-content: space-between;
}

.Button {
  box-sizing: border-box;
  padding: 0.4rem 1rem;
  border-radius: 0.5rem;
  background: var(--col-accent-300);
  color: var(--col-fg);
  // border: solid 2px var(--col-accent-300);
  transition: 0.25s cubic-bezier(0.25, 0.46, 0.45, 0.94);

  &:hover {
    background: var(--col-accent-200);
  }
}

// Override default scrollbar styles
/* width */
::-webkit-scrollbar {
  background: #f1f1f1;
  // width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--col-bg);
  border: solid 4px var(--col-bg-500);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--col-bg-700);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--col-bg-800, red);
}
