html,
body,
#root {
  height: 100%;
}

.App {
  display: flex;
  flex-direction: column;
  position: absolute;
  inset: 0;
}

.Header {
  display: flex;
  justify-content: space-between;
  background: green;
}

.Main {
  background: grey;
  display: flex;
  overflow: hidden;
}

.Sidebar {
  background: blue;
}

.EditorContainer {
  flex: 1;
  display: flex;
  justify-content: center;
}

.EditorColumn {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 45rem;
}

.EditorPage {
  display: flex;
  flex-direction: column;
  overflow: auto;
  background: white;
  padding: 2rem;
  font-size: 1.4rem;
}

.EditorPublishBar {
  display: flex;
  justify-content: flex-end;
}

.EditorPage-Title {
  font-size: 2rem;
  font-weight: bold;
}
