#root {
  /* height: 100%; */
  font-size: 1.2rem;
  line-height: 1.35;
}
/* DEFAULT OVERRIDES */
/* TODO: replace w CSS reset/normalizer */
p {
  margin: 0;
}

button {
  font-size: 1em;
}

ul {
  padding: 0;
  margin: 0;
}
li {
  list-style: none;
}

.App {
  display: flex;
  flex-direction: column;
  position: absolute;
  inset: 0;
  color: var(--col-complementary);
}

.Header {
  padding: 0.4rem;
  background: var(--col-accent);
}

.content-bar {
  display: flex;
  justify-content: space-between;
}

.Main {
  background: var(--col-primary);
  display: flex;
  overflow: hidden;
  flex: 1;
}

.Sidebar {
  box-sizing: border-box;
  background: var(--col-intermediate-primary);
  width: 15rem;
  overflow: auto;
  padding: 0 1rem;
  transition: 1s;
}

.Sidebar.hidden {
  width: 0;
  padding: 0;
  overflow: hidden;
}

.SidebarSectionheader {
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 2;
}

.EditorContainer {
  flex: 1;
  display: flex;
  justify-content: center;
  padding: 0 0 0 1rem;
}

.EditorColumn {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 45rem;
}

.EditorToolbar {
  height: 6rem;
  background: var(--col-accent-primary);
  border-bottom: 1px solid var(--col-accent-complementary);
}

.EditorPage {
  display: flex;
  flex-direction: column;
  overflow: auto;
  background: var(--col-intermediate-primary);
  padding: 2rem;
  font-size: 1.4rem;
  border-radius: 0 0 0 2rem;
}

.EditorPublishBar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 0.5rem;
  height: 6rem;
}

.EditorPage-Title {
  font-size: 2rem;
  font-weight: bold;
}

.Button {
  padding: 0.4rem 1rem;
  border-radius: 0.5rem;
  background: var(--col-accent-primary);
  color: var(--col-complementary);
}

.Footer {
  background: var(--col-accent-primary);
}
